<!-- <ng-container *ngFor="let subject of subjectList">
    <div>
        <span style="margin-right: 5px; font-size: 20px;">Subject Code : {{subject.subCode}},</span>
        <span style="font-size: 20px;">Subject Name : {{subject.name}}</span>
    </div>
</ng-container> -->

<ng-template #showMe let-person>
    <p style="font-size: 20px;">My name is {{person.name}}, I am {{person.age}} years old, and I live in {{person.city}}.</p>
</ng-template>
<ng-container *ngTemplateOutlet="showMe; context : {$implicit : personObj}"></ng-container>

<!-- <div class="box">
    <div class="input-container">
        <input type="text" [(ngModel)]="user"/>
        <label for="">Full Name</label>
    </div>
    <ng-container *ngIf="user !== ''; else notValid"></ng-container>
    <ng-template #notValid>
        <h3>Please enter your name</h3>
    </ng-template>
</div> -->


<!-- <div *ngIf="isAuthorized; else notAuthorized">
    <h2>Authorized User</h2>
</div>
 
<ng-template #notAuthorized>
    <h2>Not Authorized</h2>
</ng-template> -->

