form {
    width: 280px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 25px;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

.form-group{
    margin-bottom: 20px;
}

label{
    display: block;
    margin-bottom: 5px;
}

input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

.anotherButton{
    display: block;
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: #000;
    font-size: 15px;
    font-weight: 700;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out,
    letter-spacing 0.3s ease-in-out;
}

.anotherButton:hover{
    background-color: #c90000;
    transition: .3s ease-in-out;
    letter-spacing: 0.2em;
}

.pictureFrame{
    text-align: center;
    align-content: center;
    vertical-align: middle;
    margin: 0 auto; 
    font-size: 20px;
    width: 300px;
    border: 1px solid black;
}

.pictureFrame td{
    vertical-align: middle;
}

.pictureFrame:hover{
        border: 3px solid black;
}